.invert {
  filter: invert(1);
}

:root {
  --a: 0;
}

.inv {
  filter: invert(.8);
}

.opicty {
  fill: currentcolor;
}

.all_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00000092;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a999b;
  cursor: pointer;
}


/* search outcome____________________________________________________________  */

.search_output {
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(20px);
  width: 44%;
  padding: 10px 20px;
  position: absolute;
  top: 53px;
  left: 120px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.search_output.show {
  opacity: 1;
  visibility: visible;
}

.search_output ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_output ul li {
  border: 1.5px solid rgb(103, 103, 103);
  padding: 3px 5px;
  font-weight: 550;
  font-size: 11px;
  height: 20px;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.no_result {
  color: red;
}



/* All media queries for responsivenes________________________________________  */



@media (max-width: 1035px) {
  .first_coloum {
    position: absolute;
    left: -120%;
    transition: all .6s ease-in-out;
    z-index: 1;
    width: 500px;
    height: 93vh;
  }

  .btn1 {
    display: none;
  }

  .songs_sec,
  .songs {
    height: 82vh;
  }

  .second_coloum {
    width: 100%;
  }

  .next {
    margin-left: auto;
  }

  .seekbar1,
  .seekbar {
    width: 100%;
  }

  .track_player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .next {
    width: auto;
  }

  .nav_bar {
    width: auto;
  }

  .sc_first {
    width: auto;
  }

  .fst_input input {
    width: auto;
  }

  .scrool {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .singer {
    width: 100%;
  }

  .texxt p {
    font-size: 18px;
  }

  .hameburger img {
    display: block;
  }
}

@media (max-width: 900px) {

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0px;
  }

  .second {
    width: 80%;
  }

  .third {
    width: 50%;
  }

  .seekbar1,
  .seekbar {
    width: 400px;
  }

  .song_tittle {
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
  }

  .track_player {
    flex-direction: column;
  }
}

@media (max-width: 720px) {

  .install {
    display: none;
  }
}

@media (max-width: 590px) {
  .fst_input input {
    display: none;
  }

  .browse {
    display: none;
  }

  .serch_logo {
    border-radius: 30px;
  }

}

@media (max-width: 500px) {

  .first_coloum {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .first_coloum {
    width: 100%;
  }

  .song_sec {
    padding-left: 0px;
  }

  .scrool {

    height: 71vh;

    .main_content {
      height: auto;
    }

    .song {
      width: 88%;
      height: auto;
      padding: 25px;
    }

    .song img {
      width: 100%;
      height: auto;
    }

    .txt h3 {
      font-size: 35px;
    }

    .song .txt p {
      font-size: 20px;
    }

    .play_btn i {
      top: 260px;
      right: 10px;
    }

  }
}

@media (max-width: 380px) {
  .home {
    display: none;
  }

  .first_coloum {
    width: 100%;
  }

  .bell,
  .login {
    margin: 0;
  }

  .login {
    width: 52px;
  }

  .spotify {
    width: 46px;
  }

  .next {
    margin-left: 0px;
  }
}