.invert {
  filter: invert(1);
}

:root {
  --a: 0;
}

.inv {
  filter: invert(.8);
}

.opicty {
  fill: currentcolor;
}

.all_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00000092;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3086a9;
  cursor: pointer;
}


/* search outcome____________________________________________________________  */

.search_output {
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(20px);
  width: 44%;
  padding: 10px 15px;
  position: absolute;
  top: 53px;
  left: 80px;
  border-radius: 0 0 5px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.search_output.show {
  opacity: 1;
  visibility: visible;
}

.search_output ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_output ul li {
  border: 1.5px solid rgb(103, 103, 103);
  border-radius: 3px;
  padding: 5px;
  font-weight: 550;
  font-size: 11px;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search_output ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.no_result {
  color: red;
}


.active-song {
  color: #1ed760 !important;
  /* bright green text */
  font-weight: 600;
}

.active-song-icon {
  filter: hue-rotate(80deg) brightness(1.5);
  /* optional effect */
}



/* equalizer animation */
.equalizer {
  display: inline-block;
  margin: auto 7px auto 3px;
  width: 17px;
  height: 17px;
  position: relative;
}

.equalizer span {
  position: absolute;
  bottom: 0;
  width: 3px;
  background: gold;
  /* color of bars */
  animation: bounce 0.8s infinite ease-in-out;
}

.equalizer span:nth-child(1) {
  left: 0px;
  animation-delay: -0.2s;
}

.equalizer span:nth-child(2) {
  left: 5px;
  animation-delay: -0.4s;
}

.equalizer span:nth-child(3) {
  left: 10px;
  animation-delay: -0.6s;
}

@keyframes bounce {

  0%,
  100% {
    height: 3px;
  }

  50% {
    height: 12px;
  }
}

/* paused animation state */
.equalizer.paused span {
  animation-play-state: paused;
}



/* All media queries for responsivenes________________________________________  */



@media (max-width: 1035px) {
  .red_text {
    right: -4px;
    top: 25px;
  }

  .icon {
    opacity: .6;
    visibility: visible;
  }

  .first_coloum {
    position: absolute;
    left: -120%;
    transition: all .6s ease-in-out;
    z-index: 1;
    width: 500px;
    height: 93vh;
  }

  #image_open_sec {
    width: 40%;
  }

  .btn1 {
    display: none;
  }

  .songs_sec,
  .songs {
    height: 68vh;
  }

  .second_coloum {
    width: 100%;
  }

  .next {
    margin-left: auto;
  }

  .seekbar1,
  .seekbar {
    width: 100%;
  }

  .track_player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .next {
    width: auto;
  }

  .nav_bar {
    width: auto;
  }

  .sc_first {
    width: auto;
  }

  .fst_input input {
    width: auto;
  }

  .scrool {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .singer {
    width: 100%;
  }

  .texxt p {
    font-size: 18px;
  }

  .hameburger img {
    display: block;
  }
}

@media (max-width: 900px) {
  .song_tittle p {
    white-space: nowrap;
  }

  .top {
    margin: 0 0 5px 0;
  }

  .first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0px;
  }

  .second {
    width: 80%;
  }

  .third {
    width: 50%;
  }

  .seekbar1,
  .seekbar {
    width: 400px;
  }

  .song_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
  }

  .track_player {
    flex-direction: column;
  }
}

@media (max-width: 720px) {

  .install {
    display: none;
  }
}

@media (max-width: 590px) {
  .song_tittle {
    justify-content: start;
  }


  .fst_input {
    display: none;
    transition: all 0.3s ease;
  }

  .serch_container.active .fst_input {
    display: block;
    animation: slideIn 0.3s ease-in-out forwards;
  }

  .serch_container.active .serch_logo {
    display: none;
  }

  .fst_input input {
    height: 40px;
    color: #b3b3b3;
    background: #0c0c0c00;
    border-left: 1px solid #ffffff7a;
    border-bottom: 1px solid #ffffff7a;
    border-top: none;
    border-right: none;
    border-radius: 50px;
    padding: 0 12px;
    font-size: 14px;
  }

  .fst_input input::placeholder {
    color: #b3b3b3ac;
    font-size: 14px;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .bell {
    display: none;
  }

  .browse {
    display: none;
  }

  .serch_logo {
    border-radius: 30px;
  }


  .serch_container.active .fst_input input {
    width: 105%;
  }

}

@media (max-width: 500px) {
  .home {
    display: none;
  }

  .first_coloum {
    width: 100%;
  }

  .search_output {
    width: 65%;
  }
}

@media (max-width: 450px) {
  #image_open_sec {
    width: 65%;
    top: 64px;
    right: 9px;
    gap: 10px;
    border-radius: 10px;
  }

  #image_open_sec h2 {
    font-size: 22px;
  }

  #image_open_sec button {
    padding: 8px 20px;
    margin: 10px auto 5px auto;
  }

  .profile_image img {
    width: 75%;
    margin-top: 5px;
  }

  .click_me {
    right: -5px;
  }

  .serch_logo {
    background-color: #00000000;
    height: 50px;
    width: 35px;
  }

  .serch_logo img {
    padding-right: 0;
    width: 56%;
  }

  #start_timing,
  #timing {
    font-size: 12px;
  }

  .spotify,
  .main_content {
    display: none;
  }

  #music_seekbar {
    height: 4px;
  }

  .nav_bar {
    width: 100%;
  }

  .nav_first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }

  .hameburger {
    position: absolute;
    top: 5px;
    left: -5px;
  }

  .volume-slider {
    height: 5px;
  }

  .next {
    margin: 0;
  }

  .first_coloum {
    width: 100%;
  }

  .texxt h1 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
  }

  .texxt p {
    font-size: 14px;
  }

  .login {
    margin-right: 4px;
    justify-content: end;
  }

  .sc_first {
    width: auto;
    height: 35px;
    padding: 8px 20px 0 30px;
  }

  .song_sec {
    padding-left: 0px;
  }

  #search_input {
    border-radius: 50px;
    padding-left: 10px;
  }

  .buttons {
    padding-top: 0;
  }

  .song_sec {
    padding-bottom: 10px;
  }

  .scrool {

    height: 71vh;

    .main_content {
      height: auto;
    }

    .song {
      width: 43%;
      height: auto;
      padding: 20px 10px 0 10px;
    }

    .song img {
      width: 100%;
      height: auto;
    }

    .secnd_song i {
      width: 50px;
      top: 116px;
      right: 20px;
    }

  }

  .serch_container {
    padding: 0;
  }
}


@media (max-width: 380px) {
  .search_output {
    top: 53px;
    left: 60px;
    width: 65%;
  }

  .fst_input {
    width: 140px;
  }

  .secnd_song i {
    width: 50px;
    top: 80px;
    right: 20px;
  }


  .spotify {
    display: none;
  }

  .scrool .song {
    width: 40%;
  }

  .first_coloum {
    width: 100%;
  }

  .login {
    margin: 0;
  }

  .login {
    width: 52px;
  }

  .spotify {
    width: 46px;
  }

  .next {
    margin-left: 0px;
  }
}